

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilizer Recommendation System</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <h1>Fertilizer Recommendation System</h1>
    <form action="predict" method="post">
        
        <label for="temperature">Temperature:</label>
        <input type="number" id="temperature" name="temperature">
        
        <label for="humidity">Humidity:</label>
        <input type="number" id="humidity" name="humidity">
        
        <label for="moisture">Moisture:</label>
        <input type="number" id="moisture" name="moisture">
        
        <label for="N">N Level:</label>
        <input type="number" id="N" name="N">
        
        <label for="P">P Level:</label>
        <input type="number" id="P" name="P">
        
        <label for="K">K Level:</label>
        <input type="number" id="K" name="K">

        <label for="crop">Crop:</label>
        <select id="crop_type" name="crop_type">
            <option value="1">Sugarcane</option>
            <option value="2">Cotton</option>
            <option value="3">Millets</option>
            <option value="4">Paddy</option>
            <option value="5">Pulses</option>
            <option value="6">Wheat</option>
            <option value="7">Tobacco</option>
            <option value="8">Barley</option>
            <option value="9">Oil Seeds</option>
            <option value="10">Ground Nuts</option>
            <option value="11">Maize</option>
        </select>

        <label for="soil_type">Soil Type:</label>
        <select id="soil_type" name="soil_type">
            <option value="1">Loamy</option>
            <option value="2">Sandy</option>
            <option value="3">Clayey</option>
            <option value="4">Black</option>
            <option value="5">Red</option>
        </select>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
