<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Fertilizer</title>
    
    <link rel='stylesheet' href="../static/styles2.css">
</head>

<body>
    <h1>RECOMMENDED FERTILIZER:</h1>
    
    <!-- Wrap paragraphs inside a div -->
    <div class="content-box">
        <p style="font-size: 50px;">{{fertilizer}}</p>
        <p style="font-size: 20px;">{{description}}</p>
        <p style="font-size: 20px;">{{details}}</p>
    </div>
</body>
</html>
